VITE_API_BASE_URL=https://datagram.eidwtimes.xyz
VITE_GA_TRACKING_ID=
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_RECAPTCHA_SITE_KEY=your-recaptcha-enterprise-site-key
VITE_SENTRY_DSN=
DATAGRAM_SIGNING_KEY=super-long-token-ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
DEPARTURES_API_URL=https://api.dublinairport.com/dap/flight-listing/departures
SECURITY_API_URL=https://www.dublinairport.com/upi/SecurityTimes/GetTimes