Flask==3.1.3
Flask-CORS==4.0.0
Flask-Sock==0.7.0
psycopg2-binary==2.9.7
gunicorn==22.0.0
numpy
PyJWT==2.9.0
cryptography==44.0.0
google-cloud-recaptcha-enterprise==1.23.0
redis>=5.0.0
xgboost
pandas
pyarrow
huggingface_hub
sentry-sdk[flask]